<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    
</head>
<body>
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Online Courses</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#" data-toggle="modal" data-target="#signup-modal">Signup  <i class="fa fa-user-plus"></i></a></li>
                      <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                              <div class="loginmodal-container">
                                  <h1>Sign Up</h1><br>
                                <form action="/signup_completed" method="POST">
                                  <input type="text" name="username" placeholder="Username">
                                  <input type="password" name="pass" placeholder="Password">
                                  <input type="password" name="confirm_pass" placeholder="Confirm Password">
                                  <input type="text" name="firstname" placeholder="Firstname">
                                  <input type="text" name="lastname" placeholder="Lastname">
                                  <input type="text" name="nickname" placeholder="Nickname">
                                  <input type="text" name="birthday" placeholder="Birthday (e.g. 01/01/2000)">
                                  <input type="text" name="gender" placeholder="Gender">
                                  <input type="text" name="status" placeholder="Sign up As (student/instructor)">
                                  <input type="submit" name="submit" class="login loginmodal-submit" value="Signup">
                                </form>
                              </div>
                          </div>
                        </div>
                      <li><a href="#" data-toggle="modal" data-target="#login-modal">Signin  <i class="fa fa-user"></i></a></li>
                      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                              <div class="loginmodal-container">
                                  <h1>Login to Your Account</h1><br>
                                <form action="/login_completed" method="POST">
                                  <input type="text" name="user" placeholder="Username">
                                  <input type="password" name="pass" placeholder="Password">
                                  <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                                </form>
                                  
                                <div class="login-help">
                                  <a href="#">Register</a>
                                </div>
                              </div>
                          </div>
                        </div>
                    </ul>
                  </div>
                </div>
              </nav>
              
               <div class="container">
                   <div class="row">
                       <div class="col-lg-12">
                           <div class="content">
                               <h1>Online Courses</h1>
                               <h2>Is Here!</h2>
                               <hr>
                               <button class="btn btn-default btn-lg"><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-book fa-fw"></i> Get Started!</a></button>
                           </div>
                       </div>
                   </div>
               </div>
              
               <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
               <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>